Pillow
matplotlib
google-cloud-vision
azure-cognitiveservices-vision-computervision
pytesseract
opencv-python
langdetect
pyspellchecker
google-cloud-translate
Babel
# numpy (optional) if you want to plot graphs/from spell_checker_obsolete.py
# flask (optional) already contained in the Docker image