Pillow
matplotlib
google-cloud-vision
azure-cognitiveservices-vision-computervision
pytesseract
opencv-python
langdetect
pyspellchecker
# googletrans
git+https://github.com/alainrouillon/py-googletrans@feature/enhance-use-of-direct-api # googletrans unofficial PR 
Babel
# numpy (optional) if you want to plot graphs/from spell_checker_obsolete.py
# flask (optional) already contained in the Docker image