<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <style>

    html, body {
      height: 100%;
    }

    .color-lightskyblue {
      color: lightskyblue;
    }
    .bg-lightskyblue {
      background-color: lightskyblue !important;
    }

    </style>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.6/cropper.min.css">

    <title>Image Translator</title>
  </head>
  <body class="py-2 bg-light">

    <nav class="fixed-top shadow bg-dark border-bottom border-info">
      <div class="container my-2">
        <div class="row text-center color-lightskyblue">
          <div class="col-lg-5 h4 text-lg-left">
            <i class="fas fa-image"></i>
            <i class="fas fa-language ml-1" style="font-size: 1.75rem; transform: translateY(1px);"></i>
            <span class="ml-4">Image Translator</span>
          </div>
          <div class="col-lg-7 h6 text-lg-right lead">
            A multi-choice OCR web app
          </div>
        </div>
      </div>
    </nav>

    <div class="container" style="height: 13%"></div>

    <div class="container px-y py-4 rounded bg-dark shadow">
      <div class="row">
        <div class="col-lg-12">
          <div class="card h5">
            <div class="card-header">
              <i class="fas fa-upload mx-2"></i>
              Upload the image file
            </div>
            <div class="card-body">
              <div class="lead">Only .png .jpg .jpeg file types allowed for now, with a maximum file size of 128 megabytes</div>
              <hr class="my-3">
              <form method="POST" enctype="multipart/form-data">
                <div class="input-group" style="font-size: 1rem">
                  <div class="input-group-prepend">
                    <button type="submit" name="submit_button" value="upload_image" class="btn bg-lightskyblue" style="font-size: 0.9rem;"><b>Upload</b></button>
                  </div>
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFile" name="file">
                    <label class="custom-file-label" for="customFile">Choose file</label>
                  </div>
                </div>
              </form>

              <div class="alert alert-info alert-dismissible mt-4 h6" role="alert">
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="container" style="height: 2%"></div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS, then FontAwesome-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jscolor/2.0.4/jscolor.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropper/4.0.0/cropper.js"></script>
    <script>
    // Add the following code if you want the name of the file appear on select
    $(".alert").hide();
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
      $(".alert").html('You have chosen the file: <kbd>' + fileName + '</kbd> Don\'t forget to press Upload' + '<button class="close" data-dismiss="alert">×</button>');
      $(".alert").show();
    });
    </script>

</body>
